{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>TestUs</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'User/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "User/vendor/bootstrap/css/bootstrap.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'User/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'User/fonts/iconic/css/material-design-iconic-font.min.css' %}	">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'User/vendor/animate/animate.css' %}">
<!--====================================================================================////===========-->
	<link rel="stylesheet" type="text/css" href="{% static 'User/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'User/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'User/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'User/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'User/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'User/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static 'User/images/bg.jpg' %}');">
			<div class="wrap-login100">
				{% block sidebar %}
				
				{%endblock%}
				{%block content%}
				
				{%endblock%}
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static 'User/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'User/vendor/animsition/js/animsition.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'User/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'User/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'User/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'User/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'User/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'User/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'User/js/main.js' %}"></script>

</body>
</html>
