{% load static %}


<!doctype html>
<html lang="en">
  <head>
  	<title>TestUS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'User/css/style.css' %}">
  </head>
  <body>
		
		{% block sidebar %}
            {%include "User/sidebar.html"%}
        {%endblock %}
        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        {%block content%}
           
        {%endblock%}

    <script src="{% static 'User/js1/jquery.min.js' %}"></script>
    <script src="{% static 'User/js1/popper.js' %}"></script>
    <script src="{% static 'User/js1/bootstrap.min.js' %}"></script>
    <script src="{% static 'User/js1/main.js' %}"></script>
    <script src="{% static 'User/js/plugin.js' %}"></script>

  </body>
</html>